/* IMPORTS */
@import url("");

/* FONTS */
@font-face {
  font-family: danablack;
  src: url("/assets/fonts/Dana-Black.woff");
}
@font-face {
  font-family: danamdeium;
  src: url("/assets/fonts/Dana-Medium.woff");
}

/* VARIABLES */
:root {
  /* title font */
  --tfont: danablack;
  /* content font */
  --cfont: danamedium;
}
