/* IMPORTS */
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/why-us.css");
@import url("sections/carousel.css");
@import url("sections/cta.css");
@import url("sections/footer.css");

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tfont);
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

/* FONTS */
@font-face {
  font-family: danablack;
  src: url("../assets/fonts/DanaFaNum-Bold.woff");
}
@font-face {
  font-family: danamedium;
  src: url("../assets/fonts/DanaFaNum-Medium.woff");
}

/* VARIABLES */
:root {
  /* FONTS */
  --tfont: danablack; /* title font */
  --cfont: danamedium; /* content font */
  /* FONT SIZES */
  --h1: 3.5rem;
  --h2: 3rem;
  --h3: 2.8rem;
  --h4: 2rem;
  --h5: 2.3rem;
  --h6: 2.1rem;
  /* COLORS */
  --primary: #f25f3a;
  --primary-hover: #e67b68;
  --primary-light: #fff0eb;
  --secondary: #242d52;
  --footer-bg: #1e1e26;
  --card-bg: #f4f4f4;
  --white: white;
  --text-color: #6a6c77;
}

@media (min-width: 50em) {
  :root {
    --h1: 4rem;
    --h2: 3.5rem;
    --h3: 4rem;
    --h4: 3rem;
    --h5: 2rem;
    --h6: 1.8rem;
  }
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 3rem;
}

.even-columns {
  display: grid;
  gap: 1.6rem;
}

.padding-block-long {
  padding-block: 7rem;
}

.padding-block-medium {
  padding-block: 3.2rem;
}

@media (max-width: 50em) {
  .padding-block-long:not(:first-child) {
    border-top: 4px solid #e4e5e9;
    margin: 0 2rem;
  }
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* GENERAL STYLING */
body {
  max-width: 100%;
  overflow-x: hidden;
  min-width: 375px;
  font-size: 1.7rem;
  font-family: var(--cfont);
  color: var(--secondary);
}

p:not(class) {
  color: var(--text-color);
  max-width: 50ch;
}

p[data-width="wide"] {
  max-width: 50ch;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* BUTTON */
.button {
  border-radius: 100vmax;
  padding: 1.2rem 3.5rem;
  font-family: var(--cfont);
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1em 1em -1em var(--primary);
}

.button--shadow-less {
  box-shadow: none;
}

.button--primary {
  background-color: var(--primary);
  color: var(--white);
}

.button--primary:hover,
.button--primary:focus-visible {
  background-color: var(--primary-hover);
}

.button--white {
  background-color: var(--white);
  color: var(--primary);
}

.button--white:hover,
.button--white:focus-visible {
  background-color: var(--primary-light);
}
