/* carousel */
.carousel {
  justify-items: center;
  margin-bottom: 6rem;
}

.carousel__list {
  list-style: none;
}

.carousel__item {
  cursor: pointer;
  justify-items: center;
  width: 50rem;
  padding: 6rem 3rem 2rem;
  background-color: #f1f1f1;
  border-radius: 8px;
  overflow: visible;
  position: absolute;
}

.carousel__item:active {
  cursor: grabbing;
}

.carousel__avatar {
  width: 8rem;
  position: absolute;
  inset: 0;
  transform: translateY(-50%);
  margin-inline: auto;
}

.carousel__card-wrapper {
  margin: 0 70px;
  padding-bottom: 3rem;
  padding-top: 4.2rem;
  overflow: hidden;
}

.carousel__title {
  margin-bottom: 3rem;
}

.carousel__item-name {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--secondary);
  margin-bottom: 1rem;
}

@media (max-width: 50em) {
  .swiper .carousel__nav_button {
    display: none;
  }

  .carousel__card-wrapper {
    margin: 0 30px;
  }
}
