.hero__charts img {
  width: 100%;
  max-width: 50rem;
}

.hero__title {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.hero__description {
  padding-bottom: 2.5rem;
}

@media (min-width: 50em) {
  .hero__charts::before {
    top: -50%;
    left: -25%;
  }
}

@media (max-width: 50em) {
  .hero__charts {
    margin-top: -5rem;
    order: -1;
  }

  .hero {
    display: grid;
    align-items: center;
    text-align: center;
  }

  .hero__content {
    justify-items: center;
  }
}
