@media (max-width: 50em) {
  .why-us__content {
    text-align: center;
    justify-items: center;
  }

  .why-us__description {
    margin-top: 1rem;
  }
}
/* media-end */

/* why-us */
.why-us {
  position: relative;
}

.why-us::before {
  content: "";
  position: absolute;
  bottom: 70%;
  right: -240px;
  width: 400px;

  transform: scaleY(-1);
  aspect-ratio: 1/1.5;
  max-height: 100vh;
  background-image: url("../../assets/images/bg-tablet-pattern.svg");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.why-us__benefits ul {
  justify-items: center;
  list-style: none;
  counter-reset: count;
}

.why-us__benefits ul li {
  counter-increment: count;
}

.why-us__item {
  position: relative;
  margin-top: 6rem;
  display: grid;
  align-items: center;
  gap: 1.5rem;
  grid-template-columns: min-content 1fr;
}

.why-us__benefit-title {
  height: 4rem;
  font-size: var(--h4);
  padding-top: 0.6rem;
}

.why-us__benefit-content {
  padding-right: 0.5rem;
  grid-column: 1/-1;
}

.why-us__item::before {
  content: "0" counter(count);
  background-color: var(--primary);
  color: white;
  padding: 0.7rem 3rem 0;
  border-radius: 100vmax;
  height: 4rem;
  font-size: var(--h4);
  z-index: 4;
}

.why-us__benefit-title::before {
  content: "";
  position: absolute;
  inset: 0;
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: -1;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(255, 221, 215) 100%
  );
  inset: 0;
  /* overflow: hidden; */
  border-radius: 100vw;
}

@media (min-width: 50em) {
  .why-us::before {
    bottom: 70%;
    right: -450px;
    width: 600px;
    transform: scaleY(-1);
    aspect-ratio: 1/1.5;
    max-height: 100vh;
    background-image: url("../../assets/images/bg-tablet-pattern.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .why-us__benefits ul li:nth-child(1) div {
    margin-top: 0;
  }

  .why-us__benefit-title::before {
    background: none;
  }
  .why-us__benefit-content {
    grid-column: 2/-1;
  }

  .why-us__benefit-title {
    background-color: transparent;
  }

  .why-us__item::before {
    padding: 0.5rem 2.5rem 0;
    font-size: 2.3rem;
  }

  .why-us__benefit-title {
    height: 4rem;
    font-size: 2.3rem;
  }
}
